
.button--cta1 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(24,103,194,0.81);
    border: 0px solid currentColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border: none;
    background-color: #25a6d9;
    color: #fff;
}

.button--cta2 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 17px;
    /*line-height: 32px;*/
    letter-spacing: 0;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(24,103,194,0.81);
    border: 0px solid currentColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border: none;
    background-color: #25a6d9;
    color: #fff;
}


.button--lightactive {
    background-color: transparent;
    color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.2);
    opacity: 1;
}

.photo {
    /*background-position: 50% 50%;*/
    width: 100%;
    max-width: 320px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 5px;
    border: 3px solid white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    vertical-align: middle;
    text-align: center;
}
.imsgsrc {
    /*background-position: 50% 50%;*/
    height: auto;
    max-width:320px;
    width:100%;
    vertical-align: middle;
}